@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/*= Global styles =*/

body {
    font-family: "Oswald", sans-serif;
    overflow-x: hidden;
    color: #ffffff!important;
    max-width: 2500px;
    
}

/*= NAV BAR  =*/
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 193, 7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-dark .navbar-toggler {
    border: .05rem solid #ffc107;
  }
  
  .custom-color {
    color: #ffffff;
  }
  
  .custom-color:hover {
    color: #ffc107;
  }


/*== Index ==*/

main {
    flex: auto;
  }
  
  header img {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    object-position: bottom;
  }
  
  h3 {
    margin-top: 2rem;
  }