{% extends "base.html" %}
{% load static %}
{% block content %}

<header>
  <img src="{% static 'mrw/images/main-img.webp' %}" class="border-bottom border-warning" alt="Restaurant Image">
</header>
<!-- About Section -->
<div class="container d-flex justify-content-center mb-3">
    <div class="col-lg-6 text-center mt-4">
      <div class="border-top border-warning w-25 mx-auto my-3"></div>
      <h3>Who we are!</h3>
      <p>We are a cozy restaurant located in the middle of the World's most famous avenue, Champs-Élysées! We serve
        classical French food to tourists and locals alike.
        Our mission is to create the space and ambience to make your feel the French culture at it' s best. Our food is
        prepared by three star Michelin chef Auguste Pompidon, our prices our affordable as we believe quality food should
        be available to everyone.
        <br>
        Come join us for this experience! 
      </p>
    </div>
  </div>
  <div class="smallscreen border-top border-warning w-25 mx-auto my-4"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="{% static 'mrw/images/drinks.webp' %}" class="img-fluid border border-warning" alt="Drinks">
        <h4 class="my-4">Bar</h4>
        <p class="card-text">Experience the vibrant flavors of our bar menu.</p>
      </div>
      <div class="smallscreen border-top border-warning w-25 mx-auto my-4"></div>
      <div class="col-sm-4 text-center">
        <img src="{% static 'mrw/images/live-cooking.webp' %}" class="img-fluid border border-warning" alt="Food">
        <h4 class="my-4">Amazing Live Food</h4>
        <p>Immerse yourself with chefs preparing the rich flavors of France.</p>
      </div>
      <div class="smallscreen border-top border-warning w-25 mx-auto my-4"></div>
      <div class="col-sm-4 text-center">
        <img src="{% static 'mrw/images/music.webp' %}" class="img-fluid border border-warning" alt="Music">
        <h4 class="my-4">Live music</h4>
        <p>Local artists play instrumental music every diner service!</p>
      </div>
    </div>
  </div>
  <!-- End About Section -->

{% endblock %}