{% extends "base.html" %}
{% block content %}
<div class="container mb-3">
    <div class="col-12 text-center">
        <h3>Our Menu</h3>
        <p class="mt-3 mb-5">Start with our amazing wine or cocktail selection while we prepare your food with love.</p>
    </div>
    
    <div class="row">
        <div class="col-lg-3 text-center">
            <div class="mb-2">
                <h4>Cocktails & Wine</h4>
            </div>
            <div class="card bg-dark border-warning mb-3">
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€16</span>
                    <h6 class="fw-bold">Margarita</h6>
                    </div>
                    <p class="small">Lime, coarse sea salt, coarse sea salt, triple sec.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€13</span>
                    <h6 class="fw-bold">Mojito</h6>
                    </div>
                    <p class="small">Lime, sugar, mint leaves, white rum, soda water.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€14</span>
                    <h6 class="fw-bold">Espresso martini</h6>
                    </div>
                    <p class="small">Freshly brewed espresso, cofee liqueur, vodka.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€10</span>
                    <h6 class="fw-bold">Pimm's</h6>
                    </div>
                    <p class="small">Pimm's, lemonade, mint leaves, stawberries, orange, cucumber.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€18</span>
                    <h6 class="fw-bold">Passion fruit martini</h6>
                    </div>
                    <p class="small">Passion fruit, vodka, Passoa, lime juice, sugar, prosecco.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="mb-2">
                <h4>Starters</h4>
            </div>
            <div class="card bg-dark border-warning mb-3">
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€21</span>
                    <h6 class="fw-bold">Smoked Salmon Canapes</h6>
                    </div>
                    <p class="small">Cream cheese, smoked salmon, crostini, dill.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€18</span>
                    <h6 class="fw-bold">Lyonnaise Salad</h6>
                    </div>
                    <p class="small">Smoked bacon, garlic, lettuce, shallots, red wine vinegar, 
                        dijon mustard</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€25</span>
                    <h6 class="fw-bold">Alsatian Onion Tart</h6>
                    </div>
                    <p class="small">Flour, bacon, onions, black pepper, fresh cream, eggs.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€28</span>
                    <h6 class="fw-bold">Coquilles St. Jacques</h6>
                    </div>
                    <p class="small">Scallops, white wine, fresh cream, bread.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€20</span>
                    <h6 class="fw-bold">Croque Monsieur</h6>
                    </div>
                    <p class="small">Bread, sauce bechamel, ham, cheese, back pepper</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="mb-2">
                <h4>Main Course</h4>
            </div>
            <div class="card bg-dark border-warning mb-3">
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€30</span>
                    <h6 class="fw-bold">Ratatouille</h6>
                    </div>
                    <p class="small">Tomatoes, aubergine, courgette, garlic, bell pepper.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€32</span>
                    <h6 class="fw-bold">Duck à l'Orange</h6>
                    </div>
                    <p class="small">Duck, orange, ognions, orange liqueur, red wine.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€35</span>
                    <h6 class="fw-bold">Beef bourguignon</h6>
                    </div>
                    <p class="small">Beef, red wine, carrots, mushrooms, bacon, tomatoe paste.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€27</span>
                    <h6 class="fw-bold">Toulouse-Style Cassoulet</h6>
                    </div>
                    <p class="small">Pork, beans, carrosts, pancetta, saucisse de Toulouse.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€26</span>
                    <h6 class="fw-bold">Mushroom Fricassee</h6>
                    </div>
                    <p class="small">Mushroom, champagne vinegar, shallots, lime juice.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div class="text-center mb-2">
                <h4>Deserts</h4>
            </div>
            <div class="card bg-dark border-warning mb-3">
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€22</span>
                    <h6 class="fw-bold">Profiterole</h6>
                    </div>
                    <p class="small">Cream, chocolate, egg, butter, milk, flour.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€20</span>
                    <h6 class="fw-bold">Mousse au chocolat</h6>
                    </div>
                    <p class="small">Bittersweet chocolate, eggs, sugar, vanila extract.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€18</span>
                    <h6 class="fw-bold">Crème brûlée</h6>
                    </div>
                    <p class="small">Cream, sugar, egg, vanila.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€24</span>
                    <h6 class="fw-bold">Babas au rhum</h6>
                    </div>
                    <p class="small">Rum, cream, egg, flour, punch, butter.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
                <div class="card bg-dark card-body">
                    <div class="fw-bold">
                    <span class="float-end">€23</span>
                    <h6 class="fw-bold">Éclairs</h6>
                    </div>
                    <p class="small">Flour, milk, butter, egg, sugar, fresh cream, chocolate sauce.</p>
                    <div class="border-top border-light w-25 mx-auto my-1"></div>    
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

