{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="restaurant, french food, drinks, wines, music">
    <meta name="description" content="Au Revoir bistrot is a French restaurant in Paris">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Css stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    <!-- Fontawesome -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <!-- Browser script js -->
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function(){
            emailjs.init("VHsXKNz_JLkPVdl98");
        })();
    </script>
    <!-- Script js -->
    <script src="{% static 'js/index.js' %}"></script>
    <title>Au revoir Bistrot</title>
</head>

<body class="d-flex flex-column min-vh-100 bg-dark">

    {% include 'includes/nav.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>